.villager-item-container {
  cursor: pointer;
}

.villager-item-container:hover {
  opacity: 0.8;
}

.villager-item-image {
  width: 150px;
  height: 150px;
  border-width: 5px;
  border-style: solid;
  text-align: center;
  background-color: #eee;
}

.villager-item-image img {
  width: 90%;
}

.villager-item-name {
  text-align: center;
}

.MuiPaper-elevation1 {
  /* box-shadow: none !important; */
}

.MuiExpansionPanel-root:before {
  background-color: rgba(0,0,0,0) !important;
}