.villagers-wrapper {
  min-height: 100vh;
}

.villagers-container {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.villager-filter-title {
  width: 100%;
}

.villager-filter-title h3 {
  text-align: right;
}

.vilalger-chip-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.villager-chip {
  margin-right: 10px;
  font-family: 'Dosis', sans-serif !important;
  background-color: #bd7ce1 !important;
  color: #fff !important;
}

.villager-modal-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.MuiTextField-root {
  background-color: #fff;
}