.art-item-container {
  width: 150px;
  margin: 5px 5px 25px 5px;
  text-align: center;
  cursor: pointer;
}

.art-item-container:hover {
  opacity: 0.5;
}

.art-image-container {
  position: relative;
  width: 128px;
  height: 128px;
  margin: 0 auto;
}

.art-image-container img {
  margin: 0 auto;
}

.art-item-skeleton {
  position: absolute;
  z-index: 10;
}