.view-modal-image-container {
  width: 100%;
  text-align: center;
}

.view-modal-title {
  margin: 0;
}

.view-modal-details {
  border-top: 3px solid #938979;
  border-bottom: 3px solid #938979;
  margin-bottom: 20px;
}

.view-modal-col {
  padding-right: 30px;
}