body,
.font--main {
  font-family: 'Dosis', sans-serif;
}

.font-color-dark {
  color: #938979;
}

.font-color-light {
  color: #dfd9c6
}

.background-main {
  background-color: #f6f3e6;
}

.background-dark {
  background-color: #938979;
}

.padded-6y {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padded-4y {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padded-2y {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padded-1y {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padded-4x {
  padding-left: 40px;
  padding-right: 40px;
}

.padded-2x {
  padding-left: 20px;
  padding-right: 20px;
}

.padded-1x {
  padding-left: 10px;
  padding-right: 10px;
}

.main-section {
  /* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12); */
}

.app-search-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 0;
}

.app-title-container {
  position: relative;
}

.app-search-icon {
  padding-right: 10px;
}

.app-modal-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-modal-container {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 500px;
  background-color: #fff;
  max-height: 90vh;
  overflow: auto;
}

.app-details-close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.MuiPaper-elevation1:before,
.MuiPaper-elevation1 {
  box-shadow: none !important;
  background-color: #fff !important;
}

@media (max-width: 600px) { 
  .app-modal-container {
    max-width: 300px;
  }
}