.creature-details-image {
  text-align: center;
  width: 100%;
}

.creature-hidden {
  visibility: hidden;
  width: 100%;
}

.creature-details-image-main {
  width: 100%;
  max-width: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.creature-details-main {
  border-top: 3px solid #eee;
}

.creature-detail-col {
  padding: 5px 20px 5px 0;
}

.creature-detail-chip {
  margin-right: 5px;
  height: 18px !important;
}